// .page-dashboard {}

.monitor-widget {
  cursor: pointer;
}

.monitor-widget:hover {
  border-color: #ccc;
}

.selected-check {
  cursor: pointer;
}

.selected-check:hover {
  background-color: #eee;
}

.form-lbl {
  margin-top: 7px;
}

.alert-top-margin {
  margin-top: 30px;
}