<div class="form-container" ng-controller='LoginCtrl'>

  <section class="row signin-social text-center" style='margin-top:60px;'>
  </section>

  <div>
    <div class="alert ng-isolate-scope alert-danger" ng-class="alert-warning" ng-show='error'>
      {{error}}
    </div>
    <form class="form-horizontal ng-pristine ng-valid" ng-submit='changePassword(user)'>
      <fieldset>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" ng-model='user.password' placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" ng-model='user.confirm_password' placeholder="Confirm Password">
          </div>
        </div>
       <div class="form-group">
        </div>
        <div class="form-group">
          <input type='submit' value='Reset Password' class="btn btn-primary btn-lg btn-block" />
        </div>
      </fieldset>
    </form>
  </div>

  <section>
    <p class="text-center"><a ui-sref="special.login({ inviteCode: inviteCode, accountId: accountId })">Login To Account</a></p>
    <p class="text-center text-muted text-small">Don't have an account yet? 
      <a ui-sref='special.signup({ inviteCode: inviteCode, accountId: accountId })'>Click Here</a></p>
    </section>

  </div>
</div>