<header class="clearfix ng-scope" ng-controller='NavCtrl'>
  <a ui-sref='dashboard.home' data-toggle-min-nav="" class="toggle-min"><i class="fa fa-bars"></i></a>

  <!-- Logo -->
  <div class="logo">
    <a ui-sref='dashboard.home'>
      <span class="ng-binding">SiteNotify</span>
    </a>
  </div>

  <!-- needs to be put after logo to make it working-->
  <div class="menu-button" toggle-off-canvas="">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <div class="top-nav">

    <ul class="nav-right pull-right list-unstyled">

      <li class="dropdown langs text-normal ng-scope">
        <a href="javascript:;" class="dropdown-toggle ng-binding" data-toggle="dropdown">
          <i class="fa fa-home" style='margin-right: 5px;'></i>
            {{account().name}}
        </a>
        <ul class="dropdown-menu with-arrow pull-right" role="menu">
          <li ng-repeat='a in otherAccounts()'>
            <a href="javascript:;" ng-click='setNewAccount(a)'>{{a.name}}</a>
          </li>
          <div ng-show='otherAccounts().length == 0' style='margin: 10px;'>
            You have been invited to no other accounts.
          </div>
        </ul>
      </li>

      <li class="dropdown text-normal nav-profile">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <img gravatar-src-once="user.email" gravatar-size="30" alt="" class="img-circle img30_30" style='margin-right: 10px;'>
          <span class="hidden-xs">
            <span data-i18n="Lisa Doe">{{user.email}}</span>
          </span>
        </a>
        <ul class="dropdown-menu with-arrow pull-right">
          <li>
            <a href='#' ng-click='logout($event)'>
              <i class="fa fa-sign-out"></i>
              <span data-i18n="Log Out">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>       
  </div>

</header>