<div id="nav-wrapper" ng-controller='SidebarCtrl'>
  <ul id="nav" data-ng-controller="NavCtrl" data-collapse-nav data-slim-scroll data-highlight-active>
    <li>
      <a ui-sref='dashboard.home'>
        <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a ui-sref='dashboard.status_pages.index'>
        <i class="fa fa-list-alt"><span class="icon-bg bg-orange"></span></i>
        <span>Status Pages</span>
      </a>
    </li>
    <li>
      <a ui-sref='dashboard.profile'>
        <i class="fa fa-user"><span class="icon-bg bg-warning"></span></i>
        <span>My Profile</span>
      </a>
    </li>
    <li>
      <a ui-sref='dashboard.settings' ng-if='admin()'>
        <i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</div>