<div class="view-container" ng-controller='DashboardCtrl'>

  <div class="row">
    <div class="col-md-9">
      <div class="panel mini-box">
        <span class="box-icon bg-success">
          <i class="fa fa-rocket"></i>
        </span>
        <div class="box-info">
          <p class="size-h2">25 <span class="size-h4">%</span></p>
          <p class="text-muted"><span data-i18n="Growth">Growth</span></p>
        </div>
      </div>
    </div>

    <div class='col-md-3'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Account Details</h3>
        </div>
        <table class='table'>
          <tr ng-if='account().admin'>
            <td colspan='2' style='text-align:right'>
              <a ui-sref='dashboard.plan' class='btn btn-sm btn-line-info'>Change Plan</a>
            </td>
          </tr>
          <tr>
            <th>Plan</th>
            <td style='text-align:right;'>{{plan().name}}</td>
          </tr>
          <tr>
            <th>Calls</th>
            <td style='text-align:right;'>{{account().used_calls}} / {{plan().calls}}</td>
          </tr>
          <tr>
            <th>Texts</th>
            <td style='text-align:right;'>{{account().used_texts}} / {{plan().texts}}</td>
          </tr>
          <tr>
            <th>Emails</th>
            <td style='text-align:right;'>{{account().used_emails}} / {{plan().emails}}</td>
          </tr>
          <tr>
            <th>Users</th>
            <td style='text-align:right;'>{{account().total_members}} / {{plan().max_users}}</td>
          </tr>
          <tr>
            <th>Monitors</th>
            <td style='text-align:right;'>{{account().total_monitors}} / {{plan().max_monitors}}</td>
          </tr>
        </table>
      </div>
    </div>

</div>