<div ng-controller='MonitorCtrl'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='panel panel-info'>
        <div class='panel-heading'>
          <strong>Response Time</strong>
          <div style='float:right'>{{monitor().url}}</div>
        </div>
        <div class='panel-body'>

          <script type="text/javascript">
            $(function() {

              var d1 = [];
              for (var i = 0; i < 14; i += 0.5) {
                d1.push([i, Math.sin(i)]);
              }

              var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

              // A null signifies separate line segments

              var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];

              $.plot("#placeholder", [ d1, d2, d3 ]);

              // Add the Flot version string to the footer

              $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
            });

          </script>

          <div ng-controller='MonitorResponseTimeChartCtrl'>
            <div id="placeholder" class="demo-placeholder" style='height: 300px;'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-4'>

      <ul class="list-group">
        <li class="list-group-item">
          <img src='/images/check.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "up"'></img>
          <img src='/images/error.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "down"'></img>
          <img src='/images/dash.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "unknown"'></img>
          Site is {{site_status()}}
        </li>
        <li class="list-group-item" style='text-align:right'>
          <a ui-sref='dashboard.monitor.edit({id: monitor().id})' class='btn btn-line-primary btn-sm'>Edit Monitor</a>
          <button class='btn btn-line-danger btn-sm' ng-click='deleteMonitor()'>Delete Monitor</button>
        </li>
      </ul>

      <div ng-controller='MonitorStatsCtrl'>

        <ul class="list-group" ng-if='!stats()'>
          <li class="list-group-item">
            <img src='/images/loading.gif' style='width: 32px; height: 32px; display: inline; margin-right: 10px;'></img>
            Loading Stats
        </ul>

        <ul class="list-group" ng-if='stats()'>
          <div class="btn-group">
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'daily'">Daily</label>
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'weekly'">Weekly</label>
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'forever'">Forever</label>
          </div>

          <li class="list-group-item" ng-if='stats().total_success_checks'>
            <i class="fa fa-chevron-circle-up" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px; width:100%;'>{{uptime()}}%</span>
            uptime
          </li>
          <li class="list-group-item" ng-if='stats().average'>
            <i class="fa fa-arrows-h" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().average}}</span> 
            average load time
          </li>
          <li class="list-group-item" ng-if='stats().min'>
            <i class="fa fa-caret-down" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().min}}</span> 
            lowest load time
          </li>
          <li class="list-group-item" ng-if='stats().max'>
            <i class="fa fa-caret-up" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().max}}</span> 
            highest load time
          </li>
        </ul>

        <div ng-controller='MonitorDownOrSlowCtrl' ng-init='init()'>
          <div class='panel panel-danger' ng-if='checks()'>
            <div class='panel-heading'>
              Failed / Slow Requests
            </div>
            <table class='table'>
              <tr ng-repeat='check in checks()'>
                <td>
                  <label class='badge badge-danger' ng-if='check.status_success == false'>down</label>
                  <label class='badge badge-danger' ng-if='check.status_success == true'>slow</label>
                  &nbsp;&nbsp;&nbsp;{{done_processing_time(check)}}
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  
</div>