<div ng-controller='MonitorCtrl'>
  <div class='callout callout-warning' ng-if='!monitor().last_check'>
    We are monitoring this site now. Go ahead <a ui-sref='dashboard.alerts.new({monitor_id: monitor().id})'><b>Add an alert</b></a> for this site.
  </div>

  <div class='callout callout-danger' ng-if='monitor().disabled'>
    <b>This monitor has been disabled. {{monitor().disabled_reason}}!</b>
  </div>

  <div class='callout callout-warning' ng-if='monitor().paused'>
    <b>This monitor has been paused! You can enable via options below.</b>
  </div>

  <div class='row'>
    <div class='col-md-8'>
      <div class='panel panel-info'>
        <div class='panel-heading'>
          <strong>{{monitor().name}}</strong>
          <div style='float:right'>{{monitor().url}}</div>
        </div>
        <div class='panel-body'>

          <a ui-sref='dashboard.alerts.index({monitor_id: monitor().id})' class='btn btn-info pull-right'>Modify Alerts ({{monitor().alerts_count}})</a>

          <tabset class="ui-tab">
            <tab heading="Response Time">
              <br />
              <div ng-controller='GraphResponseTimeCtrl'>
               <select class='pull-right' ng-model='rangeDiffMinutes'>
                  <option value='30'>30 minutes</option>
                  <option value='60'>60 minutes</option>
                  <option value='120'>2 hours</option>
                  <option value='180'>3 hours</option>
                </select>
                <br />
                <div id="response_time_graph_placeholder" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
            </tab>
          </tabset>

        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <ul class="list-group">
        <li class="list-group-item">
          <img src='/images/check.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "up"'></img>
          <img src='/images/error.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "down"'></img>
          <img src='/images/dash.png' style='width: 30px; height: 30px; display: inline; margin-right: 10px;' ng-if='site_status() == "unknown"'></img>
          Site is {{site_status()}}
        </li>
        <li class="list-group-item" ng-if='account().admin'>
          
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"> Options&nbsp;&nbsp;<span class="caret"></span> </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ui-sref='dashboard.monitor.edit({id: monitor().id})'>Edit Monitor</a></li>
                <li><a href='javascript:;' ng-click='pauseMonitor()' ng-if='!monitor().paused'>Pause Monitor</a></li>
                <li><a href='javascript:;' ng-click='pauseMonitor()' ng-if='monitor().paused'>Resume Monitor</a></li>
                <li><a href="javascript:;" ng-click='deleteMonitor()'>Delete Monitor</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <div ng-controller='MonitorStatsCtrl'>

        <ul class="list-group" ng-if='!stats()'>
          <li class="list-group-item">
            <img src='/images/loading.gif' style='width: 32px; height: 32px; display: inline; margin-right: 10px;'></img>
            Loading Stats
        </ul>

        <ul class="list-group" ng-if='stats()'>
          <div class="btn-group" ng-if='stats().total_success_checks > 0'>
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'daily'">Daily</label>
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'weekly'">Weekly</label>
            <label class="btn btn-default" ng-model="monitor.range" btn-radio="'monthly'">Monthly</label>
          </div>

          <li class="list-group-item" ng-if='stats().total_success_checks <= 0'>
            There are no stats yet - we are going to be checking your site soon!
          </li>

          <li class="list-group-item" ng-if='stats().total_success_checks'>
            <i class="fa fa-chevron-circle-up" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px; width:100%;'>{{uptime()}}%</span>
            uptime
          </li>
          <li class="list-group-item" ng-if='stats().average'>
            <i class="fa fa-arrows-h" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().average}}</span> 
            average load time
          </li>
          <li class="list-group-item" ng-if='stats().min'>
            <i class="fa fa-caret-down" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().min}}</span> 
            lowest load time
          </li>
          <li class="list-group-item" ng-if='stats().max'>
            <i class="fa fa-caret-up" style='margin-right:10px;'></i>
            <span style='font-weight:bold; margin-right:5px;'>{{stats().max}}</span> 
            highest load time
          </li>
        </ul>

        <div ng-controller='MonitorDownSlowORNotifcationCtrl' ng-init='init()'>

          <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="monitor.latestDisplay" btn-radio="'requests'">Failed / Slow Requests</label>
            <label class="btn btn-default btn-sm" ng-model="monitor.latestDisplay" btn-radio="'notifications'">Notifications</label>
          </div>

          <div class='panel panel-danger' ng-if='monitor.latestDisplay == "requests"'>
            <ul class="list-group" ng-if='!checks()'>
              <li class="list-group-item">
                <img src='/images/loading.gif' style='width: 32px; height: 32px; display: inline; margin-right: 10px;'></img>
                Loading...
            </ul>
            <ul class="list-group" ng-if='checks() && checks().length == 0'>
              <li class="list-group-item">
                There are no down / slow checks for monitor
              </li>
            </ul>

            <table class='table' ng-if='checks()'>
              <tr ng-repeat='check in checks()'>
                <td class='selected-check' ng-click='goToCheck(check)'>
                  <label class='badge badge-danger' ng-if='check.status_success == false'>down</label>
                  <label class='badge badge-warning' ng-if='check.status_success == true'>slow</label>
                  &nbsp;&nbsp;&nbsp;{{done_processing_time(check)}}
                </td>
              </tr>
            </table>
          </div>

          <div class='panel panel-info' ng-if='monitor.latestDisplay == "notifications"'>
            <ul class="list-group" ng-if='!notifications()'>
              <li class="list-group-item">
                <img src='/images/loading.gif' style='width: 32px; height: 32px; display: inline; margin-right: 10px;'></img>
                Loading...
              </li>
            </ul>
            <ul class="list-group" ng-if='notifications() && notifications().length == 0'>
              <li class="list-group-item">
                There are no notifications for monitor
              </li>
            </ul>

            <table class='table' ng-if='notifications()'>
              <tr ng-repeat='n in notifications()'>
                <td>
                  <div style='width: 90px; float:left;'>
                    <img src='/images/check.png' style='width: 24px; height: 24px; display: inline; margin-right: 10px;' ng-if='n.success'></img>
                    <img src='/images/error.png' style='width: 24px; height: 24px; display: inline; margin-right: 10px;' ng-if='!n.success'></img>

                    <label class='badge badge-danger' ng-if='n.down'>down</label>
                    <label class='badge badge-warning' ng-if='n.slow'>slow</label>
                    <label class='badge badge-success' ng-if='n.normal'>normal</label>
                  </div>
                  <div style='float:right; text-align:right'>
                    <span style='font-size: 13px;'>&nbsp;&nbsp;<b>{{n.name}}</b> via <b>{{n.notify_type}}</b></span>
                    <div style='text-align:right; color: #666; font-size: 12px;'>{{done_processing_time(n.created_at)}}</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>

  
</div>